In [57]:
import pandas as pd
import numpy as np

### Question 1

In [8]:
## Code with Error:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
        else:
            return False

In [31]:
# No error and optimal code:
def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])

has_lucky_number([2,16,14,13,12,19])

True

In [34]:
## Concept of any(): Return True even if one condiotion is true....
l = [False, False, False, False,True]
l_1 = [False, False, False, False]
print(any(l))
print(any(l_1))

True
False

###  Question 2:

In [27]:
L = [1, 2, 3, 4]

In [39]:
def elementwise_greater_than(L, thresh):
    return ([l>thresh for l in L]) 
    
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    return ([l>thresh for l in L])

In [40]:
elementwise_greater_than(L,5)

[False, False, False, False]

### Question 3:

In [42]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    return ([meal == meals[meal-1] for meal in meals])

In [59]:
a = 'Aman'
b = 'bhuvan'

In [60]:
a == b

False

In [61]:
lst = ['Aman','Bhuvan','Chaman','Daman','Aman']