In [74]:
class Employee():
    
    num_employees = 0
    raise_pay_ = 1.1
    def __init__(self, f_name, l_name, salary):  # Same as contructor in other langauges
        self.f_name = f_name
        self.l_name = l_name
        self.salary = salary
        self.email  = f_name + '.' + l_name + '@company.com'
        
        Employee.num_employees += 1
        
    def raise_pay(self):
        return 'Raised Salary: {}'.format(int(self.salary * self.raise_pay_))

In [75]:
print(Employee.num_employees)

0

In [76]:
emp_1 = Employee('Harry','Pradhan', 80000)

In [77]:
print(Employee.num_employees)

1

In [63]:
emp_1.f_name

'Harry'

In [64]:
emp_1.l_name

'Pradhan'

In [65]:
emp_1.salary

80000

In [66]:
emp_1.raise_pay()

'Raised Salary: 88000'

In [67]:
emp_1.raise_pay_

1.1

In [79]:
emp2 = Employee('Jerry','Arman', 90000)

In [80]:
print(Employee.num_employees)

2

In [69]:
emp2.raise_pay_

1.1

In [70]:
emp2.raise_pay()

'Raised Salary: 99000'

In [71]:
emp2.raise_pay_ = 1.05

In [72]:
emp2.raise_pay()

'Raised Salary: 94500'

In [81]:
emp3 = Employee('test', 'user', 56000)
emp4 = Employee('test0', 'user0', 86000)

In [82]:
print(Employee.num_employees)

4