In [1]:
import numpy as np
import pandas as pd

In [5]:
a = [10,30,20,40,50]
srs = pd.Series(a, index= [1,2,3,4,5])
srs

1    10
2    30
3    20
4    40
5    50
dtype: int64

In [7]:
dict = {'A':100, 'B':200, 'C': 250}
b = pd.Series(dict)

In [8]:
b

A    100
B    200
C    250
dtype: int64

In [9]:
b.index

Index(['A', 'B', 'C'], dtype='object')

In [12]:
b.values

array([100, 200, 250], dtype=int64)

### Data Frames

In [20]:
pd.DataFrame(np.arange(10).reshape(2,5), index = ['India','China'], columns = [2000, 2005,2010,2015,2020,2025])

       2000  2005  2010  2015  2020
India     0     1     2     3     4
China     5     6     7     8     9

In [28]:
ranking = pd.DataFrame(np.arange(10).reshape(5,2), columns = ['China','India'], index = [2000, 2005,2010,2015,2020])

In [29]:
ranking['China'] = np.arange(5)

In [30]:
ranking

      China  India
2000      0      1
2005      1      3
2010      2      5
2015      3      7
2020      4      9